@use 'variables';

footer {
    text-align: center;

    padding: 50px;
    font-size: 30px;
    a:link, a:visited {
        margin-right: 20px;
    }


    background-image: url('/images/Baroqueline3.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
  }
  

